<!-- edit_password_content -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card shadow-lg overflow-hidden">
                <div class="card-body p-0">
                    <div class="row g-0">
                        <!-- Linke Bildhälfte -->
                        <div class="col-sm-5 d-none d-sm-block sign_pic_bg"></div>

                        <!-- Rechte Login-Hälfte -->
                        <div class="col-sm-7 p-4">
                            <div class="text-start">
                                <!-- Überschrift -->
                                <div class="h3 fw-light">
                                    <span>{edit_password_headline}</span>
                                </div>

                                <!-- Fehlermeldungen und Zusatznachrichten -->
                                {error_message}

                                {if isIpBanned}
                                    <!-- Hier kannst du eine gesperrt-Meldung einfügen -->
                                {else}
                                    <!-- Begrüßung -->
                                    <p>{welcome_edit_password_only}</p>

                                    <form method="POST" action="">
                                        <label for="current_password">{lang_current_password}:</label><br>
                                        <input type="password" class="form-control" id="current_password" name="current_password" required><br><br>

                                        <label for="new_password">{lang_new_password}:</label><br>
                                        <input type="password" class="form-control" id="new_password" name="new_password" required><br><br>

                                        <label for="confirm_password">{lang_confirm_password}:</label><br>
                                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required><br><br>

                                        <input type="hidden" name="csrf_token" value="{csrf_token}">

                                        <input type="submit" class="btn btn-primary w-100" value="{edit}">
                                    </form>

                                    <hr>
                                    <p class="message">{edit_text}
                                    </p>
                                {endif}
                            </div>
                        </div>
                        <!-- Ende rechte Spalte -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end -->