<!-- update_core_wizard -->
<div class="card shadow-sm">
    <div class="card-header bg-light border-bottom">
        <i class="bi bi-gear-fill text-success me-2"></i> Nexpell Core Updater
    </div>

    <div class="card-body">
        <!-- Fortschrittsbalken -->
        {progress_bar}

        <!-- Wizard Tabs -->
        {wizard_nav}

        <!-- Aktueller Schritt -->
        <div class="p-3 border rounded bg-white shadow-sm">
            {content}
        </div>
    </div>
</div>
<!-- end -->
<!-- update_core_content -->
<div></div>

<!-- end -->

