:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

/* Allgemein */
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

a {
  color: #7d7d7d;
  font-weight: 400;
  transition: 0.2s;
}

a:hover {
  color: #1a1a1a;
  text-decoration: none;
}

/* Überschriften */
h2 {
  border-bottom: 1px solid #ebeaea;
  line-height: 1 !important;
  font-weight: 300;
  padding: 10px;
}

h2 span {
  border-bottom: 1px solid #fe821d;
  display: inline-block;
  margin: 0 -11px -11px;
  padding: 15px 0 12px 0;
}

/* Formulare */
.form-control {
  color: #656c73 !important;
  border-radius: .2rem !important;
}

.form-control:focus {
  color: #495057;
  border-color: #fe821d;
  box-shadow: none !important;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

/* Buttons */
.btn-primary {
  background: #fe821d;
  color: #fff;
  border-radius: .2rem;
  border: 1px solid transparent;
}

.btn-primary:active,
.btn-primary:focus {
  background: #fb8e35 !important;
  border: 1px solid transparent !important;
  box-shadow: none !important;
}

.btn-primary:hover {
  background: #fb8e35;
  border: 1px solid transparent;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: .2rem;
}

/* Layout */
.login {
  min-height: 100vh;
}

.no-bg {
  border-top: 5px solid #ff7800;
}

/* Hintergrundbild mit Nebel */
.bg-image {
  background-image: url('/admin/images/login_bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  border-top: 5px solid #ff7800;
  overflow: hidden;
}

.fog-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3); /* Nebel */
  backdrop-filter: blur(4px);
  z-index: 1;
}

/* Logo */
.logo {
  background-color: #FFF;
  padding: 40px;
  text-align: center;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  z-index: 2;
  position: relative;
}

.logo .text1 {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 500;
  color: #303032;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.logo span {
  color: #ff7800;
}

/* Überschrift Login */
.login-heading {
  font-weight: 300;
}
.nav.nav-tabs.in {
    --raid-nav-link-color: #ff7800 !important;
}
.nav.nav-tabs.in .nav-link,
.nav.nav-tabs.in .nav-link:hover,
.nav.nav-tabs.in .nav-link.active {
    color: var(--raid-nav-link-color);
}